.DS_STORE
/Users/oleejbyreinau/swiftui/TodoList/todolist/.gitignore
/Users/oleejbyreinau/swiftui/TodoList/todolist/TodoList.xcodeproj.zip
/Users/oleejbyreinau/swiftui/TodoList/todolist/TodoList.xcodeproj/project.pbxproj
/Users/oleejbyreinau/swiftui/TodoList/todolist/TodoList.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Users/oleejbyreinau/swiftui/TodoList/todolist/TodoList.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Users/oleejbyreinau/swiftui/TodoList/todolist/TodoList.xcodeproj/project.xcworkspace/xcuserdata/oleejbyreinau.xcuserdatad/UserInterfaceState.xcuserstate
/Users/oleejbyreinau/swiftui/TodoList/todolist/TodoList.xcodeproj/xcuserdata/nicksarno.xcuserdatad/xcschemes/xcschememanagement.plist
/Users/oleejbyreinau/swiftui/TodoList/todolist/TodoList.xcodeproj/xcuserdata/oleejbyreinau.xcuserdatad/xcschemes/xcschememanagement.plist


